/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

/*sets font types for main content; appears to be one font throughout page*/

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

/*blue coloring for common text element including headers*/
h2, h3, p > a {
  color: #1fabe5;
}

/*adds bold styling to unordered list*/
ul > li {
  font-weight: bold;
}

/*adds orange background color with padding to create space around logo and buttons*/
#site_header {
  background-color: #ff8523;
  padding: 20px 20px 35px 20px;
}

/*this #logo style did not end up necessary when adding margins and padding to the other header elements*/
#logo {
  /*padding-bottom: 200px;*/
}

/*adds space between buttons and logo*/
.main_navigation {
  /*margin: 20px 0px 20px 0px;*/
  margin-top: 20px;
}

/*adds styling to navigation buttons including white font and round borders*/
.main_navigation > a {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 30px;
}

/*adds horizontal rule between main page sections*/
section {
  border-bottom: 4px solid #dddddd;
  padding-bottom: 20px;
  margin-left: 10px;
}

/*collapse table rows to avoid double borders; trying to auto fit content to table but not working yet*/
table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
}

/*adds padding to table headers and table data*/
th, td {
  /*border: 1px solid #1fabe5;*/
  padding: 15px;
}

/*applies dark blue line/background/white text to first row/header of table*/
thead > tr > td {
  border: 2px solid #046c97;
  background-color: #1fabe5;
  color: white;
}

/*adds light blue outline to rest of cells*/
tbody, td {
  border: 2px solid #1fabe5;
}

/*change the size of the image*/
td > img {
  width: 40%;
}

/*add gray background and round corners to form*/
form {
  margin: 10px;
  background-color: #dddddd;
  padding: 20px;
  border-radius: 5px;
}

/*add orange background, white text, round corners to name field*/
div.name {
  background-color: #ff8523;
  color: white;
  border: 1px solid #ff8523;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 30px;
}

/*add space after breed field*/
div.city_container {
  margin-bottom: 30px;
}

/*make breed and puppies text bold*/
[for="city"], [for="bio"] {
  font-weight: bold;
}

/*formatting to submit button*/
#submit_button {
  background-color: #1fabe5;
  color: white;
  padding: 10px 20px;
  border: 1px solid #1fabe5;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .75em;
  margin-top: 10px;
}

/*change size of name fields*/
input[type=text] {
  width: 30%;
  height: 40px;
  margin-right: 20px;
}

/*change size of text block field*/
textarea {
  width: 90%;
  height: 200px;
  border: 1px solid #1fabe5;
  padding: 10px;
  font-size: 1em;
}
